@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-2 {
    min-width: 1200px;
    margin:0 auto;
}

.container-img {
    width: 50px;
    height: 50px;
}

img {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 30px;
}

li {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.space-beetwen {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.background-black {
    background-color: #1C1C1C;
    color:white;
    margin-top: 10px;
}

.background-black2 {
    background-color: #1C1C1C;
    padding: 10px;
    color: #1B60C5;
}

.background-blu {
    background-color: #0282F9;
    padding: 10px;
}

.color-white {
    color: white;
}

.color-darkgray {
    background: darkgray;
    padding: 10px;
}

.color-black {
    color: black;
}

.text-footer {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.single-film {
    width: calc((100% / 6) - 10px);
    height: 235px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.column {
    flex-direction: column;
}

.container-img2 {
    width: 100%;
    height: 160px;
}

.container-backgruond {
    height: 350px;
    background-image: url(img/jumbotron.jpg);
    background-size: cover;
    margin-bottom: 50px;
}

#button-main {
    padding: 10px 40px;
    background-color: #0282F9;
    color: white;
    border: none;
    margin: 10px;
}

.backgruond-footer {
    background-image: url(img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.single-icon {
    width: calc((100% / 5) - 100px);
    margin: 20px 50px;
}

.logo-hover {
    height: 400px;
    width: 400px;
    background-image: url(img/dc-logo-bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

